<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>脆弱性に対するセキュリティ教材📚</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <header>
        <!-- 見出し -->
        <h1>脆弱性に対するセキュリティ教材📚</h1>
    </header>

    <div class="button">
        <button class="topic-btn" onclick="navigateTo('index.html')">XSS(クロスサイトスクリプティング)について学習しよう🌱</button>
    </div>

    <div class="button">
        <button class="topic-btn" onclick="navigateTo('index.html')">ディレクトリトラバーサルについて学習しよう🌱</button>
    </div>

    <div class="button">
        <button class="topic-btn" onclick="navigateTo('index.html')">Cookieについて学習しよう🌱</button>
    </div>

    <div class="button">
        <button class="topic-btn" onclick="navigateTo('index.html')">chmodコマンドについて学習しよう🌱</button>
    </div>

    <header>
        <!-- 見出し -->
        <h5>prmn2024 ー ITインフラチーム ー</h5>
    </header>

    <script src="scripts.js"></script>

</body>

</html>
